*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
  display: flex;
  flex-direction: column;
  justify-content: center; }

.container {
  margin: 3rem 1.5rem; }

body {
  color: #937c7b;
  font-family: 'Spartan', sans-serif;
  font-size: 0.9375rem;
  font-weight: 400; }

p {
  line-height: 1.5rem; }

h2, h3 {
  font-size: 0.9375rem; }

.info {
  text-align: center;
  color: #502050; }

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .card__item {
    background: #502050;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: .5rem;
    max-width: 300px; }
  .card__user {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem; }
    .card__user::after {
      content: "";
      display: block;
      clear: both; }
    .card__user-photo {
      border-radius: 50%;
      margin-right: 1rem; }
    .card__user-name {
      color: #f7f2f7;
      margin-bottom: 4px; }
    .card__user-title {
      color: #ee68a4;
      font-weight: 500; }
  .card__copy {
    color: #f7f2f7; }

.review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .review__item {
    background: #f7f2f7;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: .5rem;
    text-align: center;
    width: 100%;
    max-width: 300px; }
