body {
    color: $gray-dark;
    font-family: 'Spartan', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
}

p {
    line-height: 1.5rem;
    color: $gray-dark;
}

h2, h3  {
    font-size: 0.9375rem;
}